* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%) */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}


#mapid {
  width: 100%;
  height: 600px;
  border: none;
}

.jumbotron {
  color: white;
  background: none;
}

.container {
  margin-top: 30px;
}

.container:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

.astroInfo {
  padding-bottom: 100px;
}